{%- assign post_tags = include.content | split: site.custom_post_tag_delimiter -%}
<ul class="post-tags">
  {%- for tag in post_tags -%}
    <li>
      {%- capture tags_link -%}{% link tags.html %}{%- endcapture -%}
      {%- capture tag_url_percent_encoded -%}{%- include url-percent-encode content = tag -%}{%- endcapture -%}
      <a href="{{ tags_link | append: "#" | append: tag_url_percent_encoded }}" class="post-tag">{{ tag }}<sup>{{ site.tags[tag] | second | size }}</sup></a>
    </li>
  {%- endfor -%}
</ul>
