<nav id="{{ include.content }}">
  {%- assign first_category = page.categories | first -%}
  {%- assign category = page.custom_post_category_to_display | default: first_category | default: "" -%}
  <ul>
    <li>
      <a class="button {% if category == "tech"%}selected-menu{% endif %}" href="{% link tech.markdown %}">Tech blog</a>
    </li>
    <li>
      <a class="button {% if category == "cgi-vfx"%}selected-menu{% endif %}" href="{% link cgi-vfx.markdown %}">CGI & VFX blog</a>
    </li>
    <li>
      <a class="button {% if category == "about"%}selected-menu{% endif %}" href="{% link index.markdown %}">About</a>
    </li>
  </ul>
</nav>
