<div id="toolbar">
  <div id="site-navigation-menu-toggle-container">
    <button id="site-navigation-menu-toggle" type="button" title="Toggle navigation menu" onclick="toggleNavigationMenu()">Menu</button>
  </div>
  <div id="site-search-form-container">
    <form id="site-search-form" method="get" action="https://www.google.com/search" target="_self" autocomplete="off">
      <input type="hidden" name="sitesearch" value="{{ site.url | remove_first: "http://" | remove_first: "https://" }}"/>
      <input type="search" name="q" placeholder="" title="Search" required/>
    </form>
  </div>
  {%- include site-navigation-menu.html content = "site-navigation-portrait-menu" -%}
</div>
