div.footnotes {
  font-size: $small-font-size;
  padding-top: $spacing-unit-em;
  border-top: $border-widthstyle $page-layout-markup-color;
}
@media not print {
  div.footnotes > ol > li { // highlight the selected footnote
    @include highlightable2;
    padding: $block-padding;
  }
}

a.footnote {
  font-size: $small-font-size;

  &:after {
    content: none;
  }
}

@keyframes blink {
  from {
    text-decoration: underline;
    text-decoration-thickness: 0.4em;
  }

  9% {
    text-decoration: none;
  }

  18% {
    text-decoration: underline;
    text-decoration-thickness: 0.4em;
  }

  27% {
    text-decoration: none;
  }

  36% {
    text-decoration: underline;
    text-decoration-thickness: 0.4em;
  }

  45% {
    text-decoration: none;
  }

  54% {
    text-decoration: underline;
    text-decoration-thickness: 0.4em;
  }

  63% {
    text-decoration: none;
  }

  72% {
    text-decoration: underline;
    text-decoration-thickness: 0.4em;
  }

  81% {
    text-decoration: none;
  }

  90% {
    text-decoration: underline;
    text-decoration-thickness: 0.4em;
  }

  to {
    text-decoration: none;
  }
}
sup:target {
  animation-name: blink;
  animation-duration: 1.3s;
  color: $link-color;
}

a.reversefootnote::after {
  font-size: $small-font-size;
  content: $reverse-footnote-link;
}
