div.footnotes {
  font-size: $small-font-size;
  border-top: $border-widthstyle $page-layout-markup-color;
}
@media not print {
  div.footnotes li {//highlight the selected footnote
    @include highlightable;
  }
}

a.footnote {
  font-size: $small-font-size;

  &:after {
    content: none;
  }
}

a.reversefootnote::after {
  font-size: $small-font-size;
  content: "back";
}
