footer {
  font-size: $small-font-size;
  padding: $spacing-unit-em;
  border-top: $border-widthstyle $site-layout-markup-color;
  text-align: center;
  color: $insignificant-font-color;
}

@media print {
  footer {
    display: none;
  }
}
