$base-font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
$monospace-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$font-size: 1em;
$small-font-size: 0.8em;
$block-monospace-font-size: 0.8em;
$inline-monospace-font-size: 0.85em;
$post-metadata-font-size: $small-font-size;

$font-weight: 400;
$header-font-weight: 500;

$site-navigation-width: 13.4em;
$spacing-unit-em: 1.55em;//depends on the size of the text in the current element
$spacing-unit-percentage: 1%;//depends on the size of the parent element
$base-spacing-em: $spacing-unit-em / 2;
$border-radius: 0.15em;
$block-padding: 0.2em;
$inline-padding: 0.3em;
$line-height: 1.7;
$code-line-height: 1.6;
$code-block-max-height: 45em;
$margin-leftright-percentage: $spacing-unit-percentage * 2.5;
$outline-width: 0.2em;

$border-color-darken-percentage: 5%;
$site-background-color: white;
$font-color: rgb(50, 50, 50);
$insignificant-font-color: lighten($font-color, 30%);//see https://sass-lang.com/documentation/modules/color for other color functions
$quotation-background-color: desaturate(lighten(linen, 1%), 20%);
$quotation-border-color: darken($quotation-background-color, $border-color-darken-percentage);
$quotation-font-color: desaturate(darken($quotation-background-color, 40%), 10%);
$code-font-backgroung-color: lighten(lavender, 2.5%);
$header-font-color: steelblue;
$hover-header-font-color: lighten($header-font-color, 15%);
$site-navigation-background-color: $site-background-color;
$site-layout-markup-color: darken($site-navigation-background-color, $border-color-darken-percentage);
$site-navigation-menu-font-color: $header-font-color;
$site-navigation-hover-font-color: coral;
$page-layout-markup-color: lighten($header-font-color, 35%);
$link-color: cornflowerblue;
$link-hover-color: coral;
$toolbar-background-color: lighten($link-color, 30%);
$code-background-color: $site-background-color;
$code-border-color: $quotation-border-color;
$table-header-background-color: $code-font-backgroung-color;
$table-border-color: $quotation-border-color;
$table-zebra-color: lighten(ghostwhite, 0.4%);
$post-metadata-font-color: $header-font-color;
$post-tag-decoration-color: thistle;
$info-background-color: desaturate(lighten($page-layout-markup-color, 12%), 0%);
$info-border-color: darken($info-background-color, $border-color-darken-percentage);
$info-font-color: desaturate(darken($info-background-color, 50%), 10%);
$button-font-color: $link-color;
$button-hover-font-color: $link-color;
$button-active-font-color: darken($link-color, 7%);

$unhovered-svg-button-opacity: 0.5;
$site-navigation-menu-arrow: "\25b6\00a0";//BLACK RIGHT-POINTING TRIANGLE and NO-BREAK SPACE
$link-after-content: none;//"\25f9";//UPPER RIGHT TRIANGLE
$section-link-after-content: "\00a7\00a0";//SECTION SIGN and NO-BREAK SPACE
$border-widthstyle: thin solid;
