#site-navigation {
  line-height: 1;
  white-space: nowrap;
  overflow: auto;
  text-align: left;
  padding-top: $base-spacing-em;
  padding-left: $base-spacing-em;
  padding-right: $base-spacing-em;
  background: $site-navigation-background-color;
  border-bottom: $border-widthstyle $site-navigation-border-color;

  a {
    &:after {
      content: none;
    }
  }

  a.selected-menu {
    &:after {
      font-size: $font-size;
      vertical-align: baseline;
      content: " *";
      color: $site-navigation-hover-font-color;
    }
  }

  ul {
    list-style: none;
  }

  &:not(div) > div {
    margin-bottom: $spacing-unit-em / 2;
  }
}

#site-title {
  width: 13em;//scale site-logo

  #site-logo {
    height: 1.85em;
    overflow: hidden;
    margin-bottom: $spacing-unit-em / 1.5;
  
    img {
      position: relative;
      top: -2.46em;
    }
  }

  #site-author {
    font-size: $small-font-size;
    display: inline-block;
    margin-bottom: 0em;
    color: $site-navigation-menu-font-color;
  }

  #feed-link {
    font-size: 1em;//scale the button
    vertical-align: super;
  }
}

#site-navigation-external-links {
  font-size: $small-font-size;
  text-align: left;

  #email {
  }

  #external-buttons {
    font-size: 1.5em;//scale the buttons

    .button {
      margin-right: 1.2em;
    }
  }
}

#site-navigation-menu {
  ul {
    margin: 0em;

    li {
      margin-bottom: $spacing-unit-em / 1.5;

      a {
        color: $site-navigation-menu-font-color;

        &:before {
          content: $site-navigation-menu-arrow;
          color: $site-navigation-hover-font-color;
          opacity: 0;
        }
        &:hover::before {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (orientation: landscape) {
  #site-navigation {
    position: fixed;
    top: 0em;
    left: 0em;
    height: 100%;
    width: $site-navigation-width;
    border-right: $border-widthstyle $site-navigation-border-color;
  }

  #site-navigation-menu-portrait-toggle-container {
    display: none;
  }

  #site-navigation-menu {
    ul {
      margin-top: $spacing-unit-em * 1.5;
    }
  }
}

@media screen and (orientation: portrait) {
  #site-navigation {
    border-bottom: $border-widthstyle $site-navigation-border-color;
  }

  #site-navigation-menu-portrait-toggle-container {
    margin-top: $spacing-unit-em;
  }

  #site-navigation-menu {
    display: none;
  }
}