span.site-title1 {
  font-size: $small-font-size;
  font-weight: bold;
  color: $site-navigation-hover-font-color;
  text-shadow: 0.0em 0.0em 0.06em $font-color;
}
span.site-title2 {
  font-weight: bold;
  color: $link-color;
  text-shadow: 0.0em 0.0em 0.06em $font-color;
}