#toolbar {
  top: 0em;
  line-height: 1;
  position: sticky;
  overflow: auto;
  z-index: 2;//appear on top of other elements (without this style transparent elements appear on top of this element)
  padding-left: $spacing-unit-em;
  padding-right: $spacing-unit-em;
  background: linear-gradient(to right, $site-background-color, $toolbar-background-color, $site-background-color);
}

#site-navigation-menu-toggle-container {
  float: left;
}

#site-search-form-container {
  text-align: right;
}

#site-navigation-portrait-menu {
  margin-top: $spacing-unit-em;
}

@media screen and (orientation: landscape) {
  #toolbar {
    margin-left: $site-navigation-width + $spacing-unit-em * 2 /*we need to account for padding that site-navigation has*/;
  }

  #site-navigation-portrait-menu {
    display: none;
  }
}

@media print {
  #toolbar {
    display: none;
  }
}
