---
layout: base
---
<article>
  <h1><a href="{{ post.url | relative_url }}" class="slink"></a>{{ page.title }}</h1>
  <div class="post-metadata">
    {%- if page.tags.size > 0 -%}
      {%- capture post_tags -%}{{ page.tags | join: site.custom_post_tag_delimiter }}{%- endcapture -%}
      {%- include post-tags.html content = post_tags -%}
    {%- endif -%}
    {%- if page.date -%}
      <p>Posted on {{ page.date | date: "%Y-%m-%d" }}, last updated on {{ page.custom_update_date | date: "%Y-%m-%d" }}</p>
    {%- endif -%}
  </div>
  {{ content }}
</article>
